.card_container{
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.card_container img{
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 20px;
}

.card_container h4{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.card_container p{
    font-family: "Inter", sans-serif;
}