.container{
    background-color: #e3512a;
    padding: 80px 0;
}

.container h2{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 46px;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

}

.container button{
    width: 172px;
    height: 52px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #2A645C;
    font-family: "Montserrat", sans-serif;
}