.container{
    display: flex;
    background-color: #eadece;
    align-items: center;
}

.container_info:nth-of-type(1){
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container_info:nth-of-type(1) img{
    width: 50px;    
}

.container_info:nth-of-type(1) h2{
    font-size: 50px; 
    font-family: "Montserrat", sans-serif;   
}
.container_info:nth-of-type(1) h2:nth-of-type(2){
    color: #e3512a;
}


.container_info{
    width: 50%;
}

.container_info p{
    font-family: "Inter", sans-serif;
    line-height: 200%;
}



