.input{
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 524px;
    height: 58px;
    border-radius: 40px;
    padding: 13px 30px;
}

.input::placeholder{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

fieldset{
    border: none;
    font-family: "Montserrat", sans-serif;
}