{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <title>Tech | Membros</title>
</head>

<body>
    <header>
        <img src="{% static 'assets/member.jpeg' %}" alt="Imagem com varias pessoas felizes" class="logo">
    </header>
    <main>
        <h1>Area para membros </h1>
        <h2 style="color: whitesmoke;">Uma area de membros online e exclusivo para pessoas registradas!</h2>
            <div class="logout-btn-container">
                <a href="http://localhost:8000/accounts/logout" class="logout-btn">Logout</a>
            </div>
        </div>
        </div>
    </main>
</body>

</html>